@model hunger_solver.Models.FoodDonation

@{
    ViewBag.Title = "FoodDonation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please do not waste your food</h2>
<div class="food-donation-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus malesuada a ante at feugiat. Aenean vitae turpis nulla. Morbi a nisi in velit finibus pharetra vitae quis odio. Sed auctor lacus id vestibulum dictum. Proin hendrerit ultricies nisi, at lobortis sapien tristique convallis. Donec quis vestibulum orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque iaculis augue nulla, vel suscipit nulla facilisis nec. Morbi consequat, turpis non ullamcorper faucibus, justo leo maximus orci, in finibus lectus massa lacinia lectus.

    Fusce gravida a arcu eu porttitor. Mauris vel sollicitudin elit. Sed sagittis convallis eros et aliquam. Cras rutrum, lacus in mollis dignissim, sem turpis elementum velit, quis pretium nunc mauris et eros. Ut faucibus odio vitae libero consectetur, non pellentesque nisi varius. In hendrerit ex consequat nulla malesuada, quis venenatis arcu elementum. Vivamus vulputate ornare sapien. Ut dolor velit, suscipit eget est id, efficitur suscipit massa. Quisque dictum, sem eu auctor dapibus, turpis orci gravida sem, eget aliquet augue diam eu magna. Etiam consectetur placerat urna a cursus. Etiam facilisis pellentesque nulla rhoncus pulvinar. Donec nec posuere nisl. Mauris dictum lacus at faucibus vehicula. Vivamus id enim posuere odio euismod iaculis. Duis sapien ipsum, faucibus vitae tortor non, laoreet mattis justo. Aenean nec nulla sodales, euismod erat vitae, sodales dolor.
</div>


@using (Html.BeginForm("FoodDonation", "Donation", FormMethod.Post))
{
    <div class="food-donation-form-container">
            <div class="header">
                <h3>Please fill out this form</h3>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="sep"></div>
            <div class="inputs">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "", placeholder = "Food Name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "", placeholder = "Food Type" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })

                <input type="submit" value="Submit" id="submit" />
            </div>
    </div>
}


