
@{
    Layout = null;
    ViewBag.user = null;
    ViewBag.donator = Session["donator"];
    ViewBag.volunteer = Session["volunteer"];
    if (ViewBag.volunteer != null)
    {
        ViewBag.user = ViewBag.volunteer;
        ViewBag.donator = null;
    }
    if(ViewBag.donator != null)
    {
        ViewBag.user = ViewBag.donator;
        ViewBag.volunteer = null;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_DashboardLayout</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="dashboard">
        <div class="sidebar">
            <div class="sidebar_top">
                <div class="sidebar_profile_image">
                    <img src="~/images/user_dummy.png" alt="profile image"/>
                </div>
                <div class="sidebar_profile_name" style="flex-direction: column;">
                    <a href="/Dashboard">@ViewBag.user.Name</a>
                    <div id="sidebar-designation" style="color: yellow; ">(@ViewBag.user.UserType)</div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="sidebar_buttons">
                <div class="sidebar-options">
                    <img src="~/images/user_dummy.png" alt="icon" class="sidebar-options-icon" />
                    @Html.ActionLink("Dashboard Home", "Index", "Dashboard")
                </div>
                <div class="sidebar-options">
                    <img src="~/images/user_dummy.png" alt="icon" class="sidebar-options-icon" />
                    @Html.ActionLink("Personal Info", "PersonalInfo", "Dashboard")
                </div>
                <div class="sidebar-options">
                    <img src="~/images/user_dummy.png" alt="icon" class="sidebar-options-icon" />
                    @Html.ActionLink("Donate Food", "DonateFood", "Dashboard")
                </div>
                <div class="sidebar-options">
                    <img src="~/images/user_dummy.png" alt="icon" class="sidebar-options-icon" />
                    @Html.ActionLink("Donate Cloth", "DonateCloth", "Dashboard")
                </div>
                <div class="sidebar-options">
                    <img src="~/images/user_dummy.png" alt="icon" class="sidebar-options-icon" />
                    @Html.ActionLink("Donate Money", "DonateMoney", "Dashboard")
                </div>
                <div class="sidebar-options">
                    <img src="~/images/user_dummy.png" alt="icon" class="sidebar-options-icon" />
                    @Html.ActionLink("Donate Blood", "DonateBlood", "Dashboard")
                </div>
            </div>
            <div class="sidebar_bottom">

            </div>
        </div>
        <div class="dashboard_body">
            <div class="header">
                <ul class="dashboard-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (ViewBag.donator != null)
                        {
                            <li>@Html.ActionLink("Logout", "Logoff", "User")</li>
                        }
                        if (ViewBag.volunteer != null)
                        {
                            <li>@Html.ActionLink("Logout", "Logoff", "Volunteer")</li>
                        }
                    }
                </ul>
            </div>
            <main class="dashboard_main">
                <div>
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
</body>
</html>
