<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Hunger Solver", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Donations
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Food Donation", "FoodDonation", "Donation", new { @class = "dropdown-item" })
                                @Html.ActionLink("Cloth Donation", "ClothDonation", "Donation", new { @class = "dropdown-item" })
                                @Html.ActionLink("Money Donation", "MoneyDonation", "Donation", new { @class = "dropdown-item" })
                                @Html.ActionLink("Blood Donation", "BloodDonation", "Donation", new { @class = "dropdown-item" })
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Signup", "Signup", "User")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                            <li>@Html.ActionLink("Logout", "LogOff", "User")</li>
                        }

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Volunteer", "Index", "Volunteer")</li>
                        <li>@Html.ActionLink("Login as Volunteer", "Login", "Volunteer")</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- ========================== footer ========================== -->
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <h3>Site Map</h3>
                    <ul class="list-unstyled three-column">
                        <li>Home</li>
                        <li>Services</li>
                        <li>About</li>
                        <li>Code</li>
                        <li>Design</li>
                        <li>Host</li>
                        <li>Contact</li>
                        <li>Company</li>
                    </ul>
                    <ul class="list-unstyled socila-list">
                        <li><img src="http://placehold.it/48x48" alt="" /></li>
                        <li><img src="http://placehold.it/48x48" alt="" /></li>
                        <li><img src="http://placehold.it/48x48" alt="" /></li>
                        <li><img src="http://placehold.it/48x48" alt="" /></li>
                        <li><img src="http://placehold.it/48x48" alt="" /></li>
                        <li><img src="http://placehold.it/48x48" alt="" /></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6">
                    <h3>latest Articles</h3>
                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="http://placehold.it/64x64" alt="" class="media-object" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Programming</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>

                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="http://placehold.it/64x64" alt="" class="media-object" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Coding</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>

                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="http://placehold.it/64x64" alt="" class="media-object" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Web Sesign</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <h3>Our Work</h3>
                    <img class="img-thumbnail" src="http://placehold.it/150x100" alt="" />
                    <img class="img-thumbnail" src="http://placehold.it/150x100" alt="" />
                    <img class="img-thumbnail" src="http://placehold.it/150x100" alt="" />
                    <img class="img-thumbnail" src="http://placehold.it/150x100" alt="" />
                </div>

            </div>
        </div>
        <div class="copyright text-center">
            Copyright &copy; 2017 <span>Your Template Name</span>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
