
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1>Events</h1>
    <br />
    <br />
    <br />
    <div class="row">
        @foreach (var item in ViewBag.events)
        {
            <div class="col-md-4">
                <div class="event-image-container">
                    <img src="" alt="event-cover-image" />
                </div>
                <p>Event Name: @item.Name</p>
                <p>Event Type: @item.Type</p>
                <p>Event Place: @item.Place</p>
                <p>Creator Name: @item.VolunteerName</p>
                <p>Creator Email: @item.VolunteerEmail</p>
                <p>Creator Mobile: @item.VolunteerPhone</p>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Join" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
    <br />
</div>

