@model hunger_solver.Models.LoginViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="top_container">
    <div class="top_background_image"></div>
    <div class="top_content">
        <div class="top_title">
            Help poor by giving donation
        </div>
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="top-login-container">
                @using (Html.BeginForm("Login", "User", FormMethod.Post))
                {

                    <div id="login">
                        <div class="header">
                            <h1>Login</h1>
                            <p>You have to fill out this form</p>
                        </div>
                    
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="sep"></div>            
                        <div class="inputs">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "", placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "", placeholder = "Password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                            <input type="submit" value="Login" id="submit" />
                        </div>
                    </div>
                }
                @*<form id="login" method="post">
                    <div class="header">
                        <h1>Login</h1>
                        <p>You have to fill out this form</p>
                    </div>
                    <div class="sep"></div>
                    <div class="inputs">
                        <input type="email" placeholder="e-mail" autofocus />
                        <input type="password" placeholder="Password" />
                        <div class="checkboxy">
                            <input name="cecky" id="checky" value="1" type="checkbox" /><label class="terms">Remember Me?</label>
                        </div>
                        <a id="submit" href="#">Login</a>
                    </div>
                </form>*@
            </div>
        }
    </div>
</div>


<div class="container">
    <div class="food_donation">
        <a class="food_donation_link" href="#">
            <img class="food_donation_image" src="~/images/food_cover.jpg" alt="food donation image" />
        </a>
        <div class="food_donation_description">
            <h2 class="donation_menu_title">Don't Waste Your Food</h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum orci at ligula laoreet efficitur.
            Sed a ante id mauris accumsan mattis. Nullam non dui in nisl tincidunt tincidunt vel vulputate nisi.
            Mauris ut mauris vitae metus interdum tristique.
        </div>
    </div>

    <div class="clothes_donation">
        <div class="clothes_donation_description">
            <h2 class="donation_menu_title">Help Poor By Giving Clothes</h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum orci at ligula laoreet efficitur.
            Sed a ante id mauris accumsan mattis. Nullam non dui in nisl tincidunt tincidunt vel vulputate nisi.
            Mauris ut mauris vitae metus interdum tristique.
        </div>
        <a class="clothes_donation_link" href="#">
            <img class="clothes_donation_image" src="~/images/cloth-donation.jpg" alt="clothes donation image" />
        </a>
    </div>

    <div class="money_donation">
        <a class="money_donation_link" href="#">
            <img class="money_donation_image" src="~/images/money donation.png" alt="money donation image" />
        </a>
        <div class="money_donation_description">
            <h2 class="donation_menu_title">Help Poor By Donating Money</h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum orci at ligula laoreet efficitur.
            Sed a ante id mauris accumsan mattis. Nullam non dui in nisl tincidunt tincidunt vel vulputate nisi.
            Mauris ut mauris vitae metus interdum tristique.
        </div>
    </div>

    <div class="blood_donation">
        <div class="blood_donation_description">
            <h2 class="donation_menu_title">Donate Blood And Stay Healthy</h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum orci at ligula laoreet efficitur.
            Sed a ante id mauris accumsan mattis. Nullam non dui in nisl tincidunt tincidunt vel vulputate nisi.
            Mauris ut mauris vitae metus interdum tristique.
        </div>
        <a class="blood_donation_link" href="#">
            <img class="blood_donation_image" src="~/images/blood-donation.jpg" alt="blood donation image" />
        </a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}