@model hunger_solver.Models.ClothDonation
@{
    ViewBag.Title = "DonateClothForUser";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Donate Cloth</h2>
@using (Html.BeginForm("ClothDonation", "Donation", FormMethod.Post))
{
    <div class="cloth-donation-form-container">

        <h3>Please fill out this form</h3>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="sep"></div>
        <div class="inputs">
            @*   @Html.EditorFor(model => model.ClothFor, new { htmlAttributes = new { @class = "", placeholder = "Female or Male?" } })
        @Html.ValidationMessageFor(model => model.ClothFor, "", new { @class = "text-danger" })
            *@
            <div class="radio-buttons">
                <label for="cloth-type">Cloth for: </label>
                <span>Male: </span> @Html.RadioButtonFor(model => model.ClothFor, "Male")
                <span>Female: </span> @Html.RadioButtonFor(model => model.ClothFor, "Female")

                <br />

                <label for="cloth-type">Cloth type (new or used): </label>
                <span>New:</span> @Html.RadioButtonFor(model => model.Type, "New")
                <span>Almost New:</span> @Html.RadioButtonFor(model => model.Type, "Almost New")
                <span>Used:</span> @Html.RadioButtonFor(model => model.Type, "Used")
            </div>
            <label>Cloth name</label>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "", placeholder = "Cloth Name(eg. t-shirt, pant, etc )" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            <input type="submit" value="Submit" id="submit" class="submit-others"/>
        </div>
    </div>
}
