@model hunger_solver.Models.MoneyDonation

@{
    ViewBag.Title = "DonateMoneyForUser";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Donate Money</h2>
@using (Html.BeginForm("MoneyDonation", "Donation", FormMethod.Post))
{
    <div class="money-donation-form-container">
        <div class="header">
            <h3>Please fill out this form</h3>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="sep"></div>
        <div class="inputs">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "", placeholder = "Amount" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            <div class="radio-buttons">
                <label for="payment-type">Payment type: </label>
                <span>Online:</span> @Html.RadioButtonFor(model => model.PaymentType, "Online")
                <span>Offline:</span> @Html.RadioButtonFor(model => model.PaymentType, "Offline")
            </div>
            <input type="submit" value="Submit" id="submit" />
        </div>
    </div>
}
